.button1{
    padding:2%;
    background-color: teal;
    color:white;
    text-decoration: none;
}
.button1:hover{
    color:grey;
    background-color:yellow;
    content:"FBI OPEN UP";

}
.button1:focus{
    border:30px dotted black;
}
.button1:active{
    border:solid 10px orange;
}
.button1:hover{
    color:green;
}
.button2{
    background-color:red;
    color:yellow;
    padding:5%;
}
.button2:hover{
    background-color:blue;
    color:orangered;
    padding:1%;
}